<!-- Start your content here. -->

<h1>Stella Translator project</h1>

<div class="flexbox">
    <div class="col">
        <h2>To Stella </h2>

        <div class="row">
            <div class="col-8">
                <input type="text" id="encodeToStella" class="w-100">
            </div>
            <div class="col-4">
                <div class="buttons pt-0">
                    <a href="#" class="gold" id="translateToStella">Translate</a>
                </div>
            </div>
        </div>


        <div class="console" id="translateToStellaConsole">
            >
        </div>





    </div>
    <div class="col">
        <h2>From stella</h2>

        <div class="row">
            <div class="col-8">
                <input type="text" id="decodeFromStella" class="w-100">
            </div>
            <div class="col-4">
                <div class="buttons pt-0">
                    <a href="#" class="gold" id="translateFromStella">Translate</a>
                </div>
            </div>
        </div>


        <div class="console" id="translateFromStellaConsole">
            >
        </div>

    </div>
</div>


<!-- End content area. -->