<!-- Start your content here. -->

<h1>Cadet Cepheus LCARS project</h1>

<h2>Welcome to CC-LCARS</h2>

<p>This program belong to StarFleet Command & Cadet Cepheus.</p>

<p>Live long and prosper.</p>

<!-- End content area. -->